<div class="details-btn">
  <a href="/#locations">
    <button class="fixed-bt button button-full button-positive">
      Get Started
    </button>
  </a>
</div>

<ion-content class="padding details-pg">

  <div class="text-center">
    <img class="listing category" src="{{imgPath}}" style="width:100%">
  </div>
  <div class="ion-list itemList2" ng-repeat="product in products">
    <!--<h5 id="itemname">Item {{product.position}}</h5>-->
  	<!--<li class="item">{{product.description | limitTo: 75}}...</li>-->
  	<h5 class="itemname">{{product.description}}</h5>
  	<p class="itembrand">{{product.brand}}</p>
    
    <li class="item"><strong>Price:</strong> {{product.networkPrice | currency}}</li>
    <!--<li class="item">Brand: {{product.brand}}</li>-->

    <li class="item"><strong>Rating:</strong> {{product.rating | number: 1}}</li>
  </div>

</ion-content>