<ion-content class="padding">
<div class="text-center">
  <img class="listing category" src="img/max.png">
</div>
  <div class="ion-list itemList" ng-repeat="product in products">
  <li>Kitchen Item {{product.position}}</li>
  <li class="item">Description: {{product.description | limitTo: 75}}...</li>
  <li class="item">Price: {{product.networkPrice | currency}}</li>
  <li class="item">Brand: {{product.brand}}</li>

  <li class="item">Rating: {{product.rating | number: 1}}</li>
  </div>
  <button class="button button-block button-positive">
  	Get Started
  </button>
</ion-content>