<div class="details-btn">
  <a href="#/confirmation">
    <button class="fixed-bt button button-full button-positive" style="margin-bottom: 0px;">
      Contact Me
    </button>
  </a>
</div>

<ion-view view-title="">
  <ion-content class="padding">
  	<div class="container-fluid" id="form" ng-controller="FormCtrl">


		<div class="list">
      <h1 class="title">Your information</h1>
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Suhr">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
    </div>

	</div>

  </ion-content>
</ion-view>
