<div class="details-btn">
  <a href="#/confirmation">
    <button class="fixed-bt button button-full button-positive">
      Contact Me
    </button>
  </a>
</div>

<ion-view view-title="">
  <ion-content class="padding">
  	<div class="container-fluid" ng-controller="FormCtrl">  

		<h1>Help us get in touch</h1>
		<p>This is some copy </p>

		<form>
      <input id="name" name="name" placeholder="Full name"><br>
      <input id="email" name="email" placeholder="Email address">
    </form>
	</div>

  </ion-content>
</ion-view>