<ion-view view-title="">
  <ion-content class="padding">

<div class="container-fluid">
    <section>
    	<div>
    		<img src="/img/adam.jpg">
    		<div id="homeHeader1" class="text">
    			<h1>This Should Be Centered</h1>
    		</div>
    	</div>
    </section>
    <section>
    	<div>
    		<img src="/img/ben.png">
    		<div id="homeHeader2" class="text">
    			<h1>This Should Be Centered</h1>
    		</div>
    	</div>
    </section>
    <section>
    	<div>
			<img src="/img/mike.png">
			<div id="homeHeader3" class="text">
    			<h1>This Should Be Centered</h1>
    		</div>
    	</div>
    </section>
</div>
  
  </ion-content>
</ion-view>