
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background-color: #000;
	opacity: 0.3;
}

.category img, .listing img {
	height: 200px;
	width: 100%;
}

.category-heading, .listing-heading {
  text-align: center;
  width: 100%;
  font-size: 180%;
  position: absolute;
  top: 50px;
  color: #fff;
}

