
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background-color: #000;
	opacity: 0.3;
}

.category img, .listing img {
	height: 200px;
	width: 100%;
}



.category-heading, .listing-heading {
  text-align: center;
  width: 100%;
  font-size: 180%;
  position: absolute;
  top: 50px;
  color: #fff;
}

.itemList {
	padding-top:50px;
}
.itemList2 {
	padding-top:20px;
}

#lowesHeader {
	max-width:100%;
	max-height:100%;
	height:50px;
	padding: 0 0 10px

}

#homeHeader {
	color:blue;
}

#map {
	height: 300px;
  width: 100%;
  margin-top: 3%;
}

.details-btn {
  position: fixed;
  bottom: 0;
  left: 0;
/*  background: pink;
  margin-top: 100px;*/
  width: 100%;
  z-index: 100;
}

.details-pg {
  margin-bottom: 45px;
}

.title {
  background-color: white;
}

h2, .itemname {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
}

.itemname {
  color: #023F9A;
  line-height: 140%;
}
.itembrand {
	font-size: 90%;
}

.back, .item {
  font-family: 'Noto Sans', sans-serif;
  background: transparent;
  font-size: 12px;
}

.button-positive {
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.thanks {
  font-size: 14px;
}

#fixedDiv {
	float:right;
}

div .title .title-right .header-item {
	padding: 0 0 50px;
}

.title {
  color: #023F9A;
}

.button.button-full {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.location-title, #ptitle {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  color: #023F9A;
}

.location-cont, #pcont {
  font-family: 'Noto Sans', sans-serif;
}

/* might be needed if map has issues
.scroll {
    height: 100%;
}
*/


